frontend/node_modules/
.lint/
.githooks/
**/gofit.db
frontend/.svelte-kit
deploy/
data/
.specstory/
.devcontainer/
frontend/.env.production
frontend/.env.develoment
frontend/build/
pipelines/*
.sops.yaml
.gitignore
**/*.md
Dockerfile
.git