gofit.db
test.sh

# backend
backend/bin/*
backend/internal/assets/static/*
!backend/internal/assets/*.go
!backend/internal/assets/migrations
!backend/internal/assets/static/.keep
deploy/.DS_Store
deploy/gofit/.DS_Store
.DS_Store

# Terraform
deploy/terraform/.terraform.lock.hcl
deploy/terraform/*.tfstate
deploy/terraform/.terraform
deploy/terraform/terraform.tfstate.backup

# Sops
*.dec.*
*.enc.tmp.*
**/*.tmp.yaml